<!DOCTYPE html>
<html>

<head>
    <title>Posts</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
    body {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;

    }


    .box {

        border: 1px solid #95a5a6;
        margin-bottom: 50px;
        border-radius: 3px;
    }


    .imgInBox {
        width: 100%;
        object-fit: cover;

    }

    .header {
        height: 50px;
        background-color: white;
        border-bottom: 0.5px solid #95a5a6;
    }

    .profile-name {
        padding-top: 10px;
        padding-left: 85px;
        font-weight: bold;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    }

    .location {
        padding-left: 85px;
        font-weight: thin;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 65%;
        margin-top: -5px;
    }

    .profile-pic {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        float: left;
        margin: 10px 0px 0px 30px;
    }

    .actions {
        background-color: white;
        height: 35px;
        border-top: 1px solid #95a5a6;
        margin-bottom: 15px;

    }

    .icons {
        padding-top: 15px;
        padding-left: 30px;
        width: 90%
    }

    .icons i {
        width: 25px;
    }

    .right-float {
        float: right;
        width: 50px;
    }

    .description {
        padding-left: 30px;
    }

    .description-text {
        margin-top: -15px;
    }

    #nav-icons {
        width: 220px;
        color: white;
    }

    #nav-icons i {
        width: 45px;
    }

    .dots {
        margin-top: -35px;
    }

    .navbar-nav {
        flex-direction: row;

    }

    .navbar-nav i {
        padding-left: 20px;

    }

    #main {
        padding-top: 100px;
    }


.img-slider{
	height: 100%;
	width: 100%;
}


.carousel-inner{
  width:100%;
}


    </style>
</head>

<body>
    <div class="container" id="main">
        <nav class="navbar navbar-light bg-light fixed-top">
            <a class="navbar-brand">JENK</a>
            <form class="form-inline d-sm-none d-none d-md-block">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="far fa-compass"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="far fa-heart"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="far fa-user"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-sm-8 col-md-6 col-xl-4">
                <div>
                    <% posts.forEach(post => { %>
                    <div class="box">
                        <div class="header">
                            <img src="https://codeerolabs.fra1.digitaloceanspaces.com/me.jpg" class="profile-pic">
                            <div class="profile-name"> The Coffee Angel</div>
                            <div class="location">
                                <%=post.location%>
                            </div>
                            <div class="right-float dots"><i class="fas fa-ellipsis-h"></i></div>
                        </div>
                        <!-- <img src="<%=post.urls[0]%>" class="imgInBox"> -->
                        <div id="demo" class="carousel slide ">
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <% post.urls.forEach( function(image,i) {%>
                                <%if (i == 0){ %>
                                <div class="carousel-item active">
                                    <img src="<%=image%>" class="img-slider">
                                </div>
                                <%} else { %>
                                <div class="carousel-item">
                                    <img src="<%=image%>" class="imgInBox">
                                </div>
                                <% }%>
                                <%})%>
                            </div>
                            <%if (post.urls.length > 1){%>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                            <%}%>
                        </div>
                        <div class="meta">
                            <div class="actions">
                                <div class="icons"><i class="far fa-heart"></i> <i class="far fa-comment"></i> <i class="far fa-paper-plane"></i> <i class="far fa-bookmark right-float"></i></div>
                            </div>
                            <div class="description">
                                <p> <b>1.000.000 loves </b></p>
                                <p class="description-text"><b>thecoffeeangel</b>
                                    <%= post.day%> |
                                    <%=post.date_display%>
                                </p>
                                <p class="description-text">
                                    <%= post.description%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/6fd0d324f5.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>